/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, h7{
  padding: 0;
  margin: 0;
}

.container {
  width: 1600px;
  max-width: 1600px; 
  margin: 0 auto; 
  padding: 0; 
}

.header {
  background: url('../img/header-background-1.jpg') no-repeat center top / cover;
  color: #FFFFFF; 
  padding-top: 32px;
}

div, p, input, header {
  box-sizing: border-box;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration:none; 
  cursor:pointer; 
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  font-family: Open Sans, 0, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  height: 26px;
  margin-right: 54px;  
}

.menu a {
  color: #fff;
}

.service-dropdown {
  background: url(../img/service-dropdown.png) no-repeat center center;
  width: 347px;
  height: 184px;
  float: left;
  margin-left: 509px;
  margin-top: -12px;
  padding-top: 27px;
  padding-left: 16px;
  padding-right: 16px;
}

.service-dropdown li {
  margin-top: 16px;
  border-bottom: 1px solid white;
}

.service-dropdown li a {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;  
  
  color: #FFFFFF;
}

.service-dropdown li a:hover {
  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: Bold;
  font-size: 16px;
  line-height: 21px;  
  
  color: #FFFFFF;
}

.call {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 56px;
  margin-left: 119px;
}

.call-btn {
  text-decoration: #fff;
  display: block;
  margin-right: 50px;
  background: url(../img/call-btn.svg) no-repeat left center;
  padding-left: 35px;
  height: 35px;
  width: 230px;
  align-items: center;
  padding-left: 40px;
  padding-top: 5px;
}

.call-order {
  color: #95CC29;
  white-space: pre;
}

.mail {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.mail-btn {
  display: block;
  background: url(../img/mail-btn.svg) no-repeat left center;
  padding-left: 35px;
}

.nav {
  display: flex;  
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  align-items: center;  
}

.logo { 
  width: 220px;
  height: 45px;
  display: block;
  background: url(../img/logo.svg) no-repeat left center;
  margin-right: 125px;
  margin-left: 90px;
}

i {
  border: 6px solid #53D14B;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.down {
  margin-left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.offer {
  margin-top: 190px;
  text-align: left;
  margin-left: 90px;  
  padding-bottom: 30px;
}

.offer h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
}

.offer-img {  
  margin-top: 150px;
  width: 1420px;
  height: 210px;
  display: block;
  background: url(../img/offer.png) no-repeat center center;
}

.about {  
  background: url(../img/about-background.png) no-repeat left center;
  display: block;
  width: 1600px;
  height: 2867px;
}

.about-heading {  
  text-align: left;
}

.about-heading1{
  padding-top: 107px;
  margin-left: 35px;
}

.about-heading2{
  padding-top: 70px;
  margin-left: 100px;
}

.about-heading-line {
  text-align: left;
  width: 128px;
  height: 11px;
  margin-top: 60px;
  margin-left: 105px;

  background: #95CC29;
}

.about-text1 {
  padding-top: 36px;
  text-align: left;
  margin-left: 90px;
}

.about-text2 {
  padding-top: 48px;
  text-align: left;
  margin-left: 90px;
}

.about-img { 
  margin-top: 151px;
  margin-left: 733px;
  position: absolute;
  width: 808px;
  height: 599px;  
  display: block;
  background: url(../img/about-img.png) no-repeat right center;
}

.geograghy-heading{   
  text-align: left;
}

.geograghy-heading-1{ 
  padding-top: 60px;
  margin-left: 931px;
}

.geograghy-heading-2{  
  padding-top: 65px;
  margin-left: 957px;
}

.geograghy-heading-line {
  width: 128px;
  height: 11px;
  margin-top: 110px;
  margin-left: 960px;

  background: #95CC29;
}

.geograghy-text1 {
  padding-top: 50px;
  text-align: left;
  margin-left: 936px;
}

.geography-img { 
  margin-top: 159px;
  margin-left: 90px;
  position: absolute;
  width: 750px;
  height: 495px;  
  display: block;
  background: url(../img/geography-img.png) no-repeat left center;
}

.geography-success-img {
  margin-top: 25px;
  margin-left: 940px;
  position: absolute;
  width: 336px;
  height: 85px;  
  display: block;
  background: url(../img/geography-success.png) no-repeat right center;
}

.contact-heading{   
  text-align: left;
}

.contact-heading-1{ 
  padding-top: 190px;
  margin-left: 83px;
}

.contact-heading-2{  
  padding-top: 70px;
  margin-left: 135px;
}

.contact-heading-line {
  width: 128px;
  height: 11px;
  margin-top: 60px;
  margin-left: 135px;

  background: #95CC29;
}

.contact-body {
  margin-top: 58px;
  margin-left: 1000px;
}

.contact-body a:hover {
  color: #000000;
  text-decoration:none; 
  cursor:pointer; 
}

.contact-body a {
    text-decoration: none;
}

.contact-locate {
  background: url(../img/contact-locate.svg) no-repeat left center;  

  padding-left: 100px;

  width: 450px;
  height: 121px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #000000;
}

.contact-phone {
  background: url(../img/contact-phone.svg) no-repeat left center; 

  margin-top: 35px;
  padding-left: 100px;

  width: 373px;
  height: 74px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  display: flex;
  align-items: center;

  color: #000000; 
}

.contact-mail {
  background: url(../img/contact-mail.svg) no-repeat left center; 
  
  margin-top: 50px;
  padding-left: 100px;

  width: 368px;
  height: 80px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.request {
  position: absolute;
  width: 1421px;
  height: 538px;
  margin-top: 230px;
  margin-left: 95px;

  background: linear-gradient(181.27deg, rgba(29, 104, 36, 0.9) 4.54%, rgba(87, 194, 97, 0.765) 91.1%);
}

.about h2 {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 136px;
  letter-spacing: 0.06em;

  color: rgba(18, 102, 26, 0.81);

  opacity: 0.2;
  z-index: 1;
}

.about h3 {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.06em;

  color: rgba(18, 102, 26, 0.81);
  z-index: 2;
}

.about h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;  
  color: #000000;
}

.about h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

.about h6 {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;

  color: #FFFFFF;
}

.request-title {
  width: 254px;
  height: 38px;
}

.request h1 {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;

  color: #FFFFFF;  
}

.footer {
  position: absolute;
  width: 1600px;
  height: 228px;
  
  background: linear-gradient(360deg, rgba(40, 126, 48, 0.81) 0%, rgba(33, 118, 41, 0.5751) 114.04%)  no-repeat center top / cover;
}

.footer-call {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 56px;
  margin-left: 119px;
}

.footer-call-btn {
  text-decoration: #fff;
  display: block;
  margin-right: 50px;
  background: url(../img/call-btn.svg) no-repeat left center;
  height: 35px;
  width: 230px;
  align-items: center;
  padding-left: 40px;
  padding-top: 5px;
}

.footer-menu {
  display: flex;
  align-items: center;
}

.footer-menu li {
  font-family: Open Sans, 0, Regular;
  font-style: normal;
  font-size: 19px;
  margin-right: 54px;  
  height: 26px;
}

.footer-menu a {
  color: #fff;
}

.footer-logo { 
  width: 220px;
  height: 69px;
  display: block;
  background: url(../img/logo.svg) no-repeat left center;
  margin-right: 280px;
}

.footer-arrow {
  width: 30px;
  height: 0px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  transform: rotate(-90deg);
  margin-right: 150px;
}

.footer-nav {
  display: flex;  
  margin: 0 auto;
  padding: 0;
  margin-top: 96px;
  margin-left: 90px;
  align-items: center;  
}

.s1-header {
  background: url('../img/s1-header-backgroung.png') no-repeat center top / cover;
  color: #FFFFFF; 
  padding-top: 32px;
}

.s1-offer-text {
  margin-left: 90px;
  padding-top: 90px;
  padding-bottom: 310px;
  height: 331px;
  padding-top: 210px;
}

.s1-offer-text1 {
  width: 753px;
  height: 126px;
  margin-top: 90px;

  font-family: Futura PT, 0, Book; 
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
  float: left;

  color: #FFFFFF;
}

.s1-offer-text2 {
  width: 700px;
  height: 231px;
  margin-top: -110px;

  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
  float: right;

  letter-spacing: 0.03em;
  text-shadow: 
              -0   -1px 0   #000000,
              0   -1px 0   #000000,
              -0    1px 0   #000000,
              0    1px 0   #000000,
              -1px -0   0   #000000,
              1px -0   0   #000000,
              -1px  0   0   #000000,
              1px  0   0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000;

  color: #F9F1E7;
}

.s1-about {  
  background: url(../img/s1-about-background.png) no-repeat center center;
  display: flex;
  height: 4700px;
  max-width: 1600px;  
}

.s1-about-text {
  margin-left: 90px;
  margin-top: 80px;
}

.s1-text-block {
  padding-top: 40px;
}

.s1-text-points {
  padding-top: 18px;
}

.s1-text-point {
  font-family: 'Futura PT', Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 45px;
  
  color: #000000;
}

.s1-text-block2 {
  padding-top: 75px;
}

.block {
  padding-top: 12px;
}

.laws {
  padding-top: 1272px;
}

.s1-requests {
  padding-top: 64px;
  padding-bottom: 500px;
}

.s1-request {
  background: url(../img/s1-request.png) no-repeat center center / cover;
  width: 816px;
  height: 600px;
  float: left;
  margin-right: 35px;
}

.s1-phone {
  background: linear-gradient(141.2deg, #DCBA93 7.81%, #71BD6F 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
  width: 538px;
  height: 594px;  
  float: left;
}

.s1-about h5 {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 20px;

  color: #000000;
}

.s1-about h6 {
font-family: 'Futura PT', Medium;
font-style: normal;
font-weight: 450;
font-size: 25px;
line-height: 32px;

color: #000000;
}

.s1-footer {
  position: absolute;
  width: 1600px;
  height: 228px;
  margin-top: 950px;
  
  background: linear-gradient(91.37deg, #95BC7B 39.27%, #C2BE8B 58.33%, rgba(215, 178, 137, 0.86) 80.97%);
}

.green {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;

  color: rgba(29, 133, 39, 0.5);
}

span {
  content: "\2192";
  content: "\2193"; /* &darr; */
  content: "\2191" /*  &uarr; */
  /* <span>&#8594;</span> */
}

.s2-header {
  background: url('../img/s2-header-background.png') no-repeat center top;
  color: #FFFFFF; 
  padding-top: 32px;
}

.s2-offer-text {
  margin-left: 90px;
  padding-top: 90px;
  padding-bottom: 310px;
  padding-top: 210px;  
}

.s2-offer-text1 {
  width: 753px;
  height: 126px;
  margin-top: 1s00px;

  font-family: Futura PT, 0, Book; 
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  float: left;

  color: #FFFFFF;
}

.s2-offer-text2 {
  width: 700px;
  height: 231px;
  padding-left: 50px;
  margin-top: -100px;

  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
  float: right;
}

.s2-about { 
  background: url(../img/s2-about-background.png) no-repeat center center;
  display: flex;
  height: 5080px;
}

.blue {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;

  color: #2B79B0;
}

.s2-about h5 {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 20px;

  color: #000000;
}

.s2-about h6 {
  font-family: 'Futura PT', Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 32px;

  color: #000000;
}

.h6-hi {
  font-family: 'Futura PT', Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 45px;

  color: #000000;
}

.h7 {
  font-family: 'Futura PT', Medium;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;

  color: #000000;
}

.s2-about-text {
  margin-left: 90px;
  margin-top: 80px;
}

.s2-text-block {
  padding-top: 40px;
}

.s2-ref-btn-text {
  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.055em;

  display: flex;

  margin-top: 32px;

  color: #2E1A7D;
}

.s2-ref-btn {
  background: url(../img/s2-ref-btn.png)  no-repeat right center;
  display: flex;
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 90px;
}

.bold {
  font-family: 'Futura PT', Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;

  color: #000000;
}

.s2-text {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.06em;

  color: #000000;
}

.s2-requests {
  padding-top: 64px;
  padding-bottom: 500px;
}

.s2-request {
  background: url(../img/s2-request.png) no-repeat center center;
  width: 816px;
  height: 600px;
  float: left;
  margin-right: 35px;
}

.s2-phone {
  background: linear-gradient(141.2deg, #BADCF4 7.81%, #4882AC 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
  width: 538px;
  height: 594px;  
  float: left;
}

.s2-footer {
  position: absolute;
  width: 1600px;
  height: 228px;
  margin-top: 950px;
  
  background: linear-gradient(91.68deg, #86AAC4 33.58%, rgba(115, 169, 208, 0.56) 98.6%);
}

.s3-header {
  background: url('../img/s3-header-background.png') no-repeat center top / cover;
  color: #FFFFFF; 
  padding-top: 32px;
}

.s2-offer-text {
  margin-left: 90px;
  padding-top: 90px;
  padding-bottom: 310px;
  padding-top: 210px;  
}


.s3-offer-text1 {
  width: 753px;
  height: 126px;
  margin-top: 70px;

  font-family: Futura PT, 0, Book; 
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  float: left;

  color: #FFFFFF;
}

.s3-offer-text2 {
  width: 700px;
  height: 231px;
  margin-top: -100px;

  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  float: right;
  padding-left: 20px;
}

.s3-about {
}

.s3-about-line1 { 
  background: linear-gradient(90deg, rgba(176, 128, 204, 0.5) 0%, rgba(215, 209, 209, 0.5) 100%);
  border-radius: 25px;
}

.s3-about-line2 {  
  background: radial-gradient(50% 50% at 50% 50%, rgba(211, 206, 219, 0.6) 0%, rgba(215, 209, 209, 0.6) 100%);
  width: 8px;
  height: 1009px;   
  display: flex;
  float: left;
  margin-left: 35px;
}

.s3-about-line3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(46, 26, 125, 0.6) 0%, rgba(215, 209, 209, 0.6) 100%);
  width: 7px;
  height: 419px;
  display: flex;
}

.s3-img1 {
  background: url(../img/s3-img1.png) no-repeat center center;
  display: flex;
  float: right;
  width: 731px;
  height: 846px;   
  margin-right: 45px;
}

.s3-img2 {
  background: url(../img/s3-img2.png) no-repeat center center;
  display: flex;
  width: 1420px;
  height: 398px;  
  margin-left: 90px;
  margin-top: 40px;
}

.s3-img3 {
  background: url(../img/s3-img3.png) no-repeat center center;
  display: flex;
  width: 1600px;
  height: 954px; 
  margin-top: 40px;
}

.s3-about h5 {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: 450;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 20px;

  color: #000000;
}

.s3-about h6 {
  font-family: 'Futura PT', Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}

.red {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: 450;
  font-size: 34px;
  line-height: 44px;

  color: #E32020;
}

.s3-text-block {
  padding-top: 40px;
  margin-left: 90px;
}

.s3-text1 {
  font-family: Futura PT;
  font-style: medium;
  font-size: 23px;
  line-height: 29px;

  color: #000000;
}

.s3-text2 {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.025em;

  margin-top: 40px;
  margin-left: 90px;

  color: #000000;
}

.s3-bold-text1 {
  font-family: Futura PT;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;

  color: #000000;
}

.s3-request {
  background: url(../img/s3-request.png) no-repeat center center;
  width: 816px;
  height: 600px;
  float: left;
  margin-top: 35px;
  margin-left: 90px;
  margin-right: 35px;
}

.s3-phone {
  background: linear-gradient(141.2deg, #E9AE81 20.83%, #C06E1D 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
  width: 538px;
  height: 600px;  
  margin-top: 35px;
  margin-left: 972px;
}

.s3-footer {
  position: absolute;
  width: 1600px;
  height: 228px;
  margin-top: 40px;
  
  background: linear-gradient(91.53deg, #D9A579 40.53%, rgba(217, 165, 121, 0.71) 100%);
}

.containerTab {
  width: 768px;
  max-width: 768px; 
  margin: 0 auto; 
  padding: 0; 
  margin-bottom: 90px;
}

.headerTab {
  background: url('../img/headerTab-background.png') no-repeat center center;
  color: #FFFFFF; 
  width: 768px;
  height: 900px;
  padding-top: 30px;
}

.logoTab { 
  width: 220px;
  height: 45px;
  display: block;
  background: url(../img/logo.svg) no-repeat left center;
  margin-left: 15px;
  margin-top: 14px;
}

.navTab {
  display: flex;  
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  align-items: center;  
}

.tab-call {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 56px;
  width: 206px;
  margin-left: 50px;
}

.tab-call-btn {
  text-decoration: #fff;
  display: block;
  background: url(../img/call-btn.svg) no-repeat left center;
  height: 35px;
  width: 230px;
  align-items: center;
  padding-left: 40px;
  padding-top: 5px;
}

.tab-mail {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  margin-left: 30px;
}

.tab-mail-btn {
  display: block;
  background: url(../img/mail-btn.svg) no-repeat left center;
  padding-left: 35px;
}

#menuToggle
{
  display: block;
  position: relative;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

  text-align: right;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 530px;
  padding: 50px;
  
  background: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-230%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  margin-top: 20px;
  margin-left: -500px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.tab-offer-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
  
  color: #FFFFFF;

  margin-top: 150px;
  margin-left: 15px;  
}

.aboutTab {

}

.aboutTab-title {
  margin-left: 30px;
}

.aboutTab-title1 {
  margin-top: 90px;
}

.aboutTab-title2 {
  margin-top:-60px;
  margin-left: 70px;
}

.aboutTab h2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 136px;
  letter-spacing: 0.06em;
  
  color: rgba(18, 102, 26, 0.81);  
  opacity: 0.2;

  z-index: 0;
}

.aboutTab h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.06em;

  color: rgba(18, 102, 26, 0.81);

  z-index: 1;
}

.aboutTab h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.title-line {
  width: 128px;
  height: 11px;

  background: #95CC29;
}

.aboutTab-text-block {
  margin-top: 30px;
  margin-left: 102px;
}

.aboutTab-img {
  background: url(../img/aboutTab-img.png) no-repeat center center;
  width: 768px;
  height: 536px;
  margin-top: 30px;
}

.aboutTab-img3 {
  background: url(../img/aboutTab-img3.png) no-repeat center center;
  width: 336px;
  height: 85px;
  margin-top: 25px;
  margin-left: 73px;
}

.geographyTab {
  background: url(../img/aboutTab-img2.png) no-repeat right top;
  width: 768px;
  padding-top: 90px;
}

.aboutTab-map {  
  background: url(../img/geography-img.png) no-repeat center center;
  margin-top: 30px;
  width: 769px;
  height: 493px;
}

.geographyTab-title {
  margin-left: 30px;
}

.geographyTab-title2 {
  margin-top:-60px;
  margin-left: 40px;
}

.contactTab-title {
  background: url(../img/03.png) no-repeat 480px 95px;

  width: 556px;
  margin-left: 30px;
}

.contactTab-title2 {
  margin-top:-60px;
  margin-left: 40px;
}

agm-map {
  height: 436px;
}

.about agm-map {
  width: 738px;
  height: 436px;
  float: left;
}

.contactTab {
  background: url(../img/aboutTab-img4.png) no-repeat right center;
  height: 869.32px;
}

.locateTab {
  background: url(../img/contact-locate.svg) no-repeat left center;
  padding-left: 90px;
  height: 100px;
  display: flex;
  align-items: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}

.phoneTab {
  background: url(../img/contact-phone.svg) no-repeat left center;
  padding-left: 90px;  
  height: 100px;
  display: flex;
  align-items: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  color: #000000;
}

.mailTab {
  background: url(../img/contact-mail.svg) no-repeat left center;
  padding-left: 90px;  
  height: 100px;
  display: flex;
  align-items: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  color: #000000;
}

.requestTab {
  background: linear-gradient(181.27deg, rgba(29, 104, 36, 0.9) 4.54%, rgba(87, 194, 97, 0.765) 91.1%);
  width: 770px;
  height: 538px;
  display: block;
  margin-top: -170px;
}

.requestTab h5 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;

  color: #FFFFFF;
}

.request h5 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;

  color: #FFFFFF;
}

.request h4 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;

  color: #FFFFFF;
}

.requestTab h4 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;

  color: #FFFFFF;
}

.requestTab h6 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;

  color: #FFFFFF;
}

.contactTab a:hover {
  color: #000000;
  text-decoration:none; 
  cursor:pointer; 
}

.contactTab a {
    text-decoration: none;
    color: #000000;
}

.request-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;

  color: #FFFFFF;
}

input::-webkit-input-placeholder { 
  font-family: Futura PT, Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;

  color: #FFFFFF;
 }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'], input[type='radio'] {
    --active: #afafaf;
    --active-inner: rgb(87, 87, 87);
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #bbc1e1;
    --border-hover: #6b6c6e;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
 }
  input[type='checkbox']:after, input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
 }
  input[type='checkbox']:checked, input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
 }
  input[type='checkbox']:disabled, input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
 }
  input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
 }
  input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
    cursor: not-allowed;
 }
  input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
 }
  input[type='checkbox']:focus, input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
 }
  input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
    width: 21px;
 }
  input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
 }
  input[type='checkbox']:not(.switch):checked, input[type='radio']:not(.switch):checked {
    --o: 1;
 }
  input[type='checkbox'] + label, input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
 }
  input[type='checkbox']:not(.switch) {
    border-radius: 7px;
 }
  input[type='checkbox']:not(.switch):after {
    width: 10px;
    height: 18px;
    border: 4px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 12px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
 }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
 }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
 }
  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
 }
  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
 }
  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: 0.6;
 }
}

.button {
  background: rgba(203, 92, 57, 0.83);
  border: none;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.footerTab {
  position: absolute;
  width: 768px;
  height: 228px;
  
  background: linear-gradient(360deg, rgba(40, 126, 48, 0.81) 0%, rgba(33, 118, 41, 0.5751) 114.04%)  no-repeat center top / cover;
}

.footer-logoTab {
  background: url(../img/logo.svg) no-repeat center center;
  width: 220px;
  height: 45px;
  display: block;
}

.footerTab-menu li {
  
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 26px;

color: #FFFFFF;  
}

.footerTab-call {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 56px;
}

.s1-headerTab {
  background: url('../img/s1-headerTab.png') no-repeat center top / cover;
  color: #FFFFFF; 
  padding-top: 32px;
  width: 768px;
  height: 600px;
}

.tab-offer-text1 {
  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 140.7%;
  letter-spacing: 0.03em;

  color: #F9F1E7;
}

.tab-offer-text2 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
  /* or 42px */ 
  
  color: #FFFFFF;
}

.tab-about-line {
  background: linear-gradient(90deg, rgba(29, 133, 39, 0.5) 0%, rgba(29, 133, 39, 0.1) 100%);
  border-radius: 25px;
}

.tab-text-block {
  padding-top: 40px;
  margin-left: 16px;
}

.tab-text-block h4 {
  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;

  color: #000000;
}

.tab-text-block h5 {
  font-family: Futura PT, Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 32px;

  color: #000000;
}

.s1-tab-img {
  background: url(../img/s1-tab-img.png) no-repeat center center;
  width: 672.7px;
  height: 832px;
  margin-top: 30px;
  margin-left: 66px;
}

.s1-tab-img2 {
  background: url(../img/s1-tab-img2.png) no-repeat center center;
  width: 540px;
  height: 440px;
  margin-top: 23px;
  margin-left: 112px;
}

.s1-tab-img3 {
  background: url(../img/s1-tab-img3.png) no-repeat center center;
  height: 1250px;
  margin-top: 40px;
}

.s1-tab-request {
  background: url(../img/s1-tab-request.png) no-repeat center center;
  width: 684.7px;
  height: 540.02px;
  margin: 40px;
}

.s1-tab-request h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;

  color: #FFFFFF;
}

.s1-request h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;

  color: #FFFFFF;
}

.s2-request h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;

  color: #FFFFFF;
}


.s3-request h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;

  color: #FFFFFF;
}

.s1-tab-request h6 {
  font-family: Open Sans, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
}

.s1-request h6 {
  font-family: Open Sans, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
}

.s2-request h6 {
  font-family: Open Sans, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
}

.s3-request h6 {
  font-family: Open Sans, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
}

.s1-tab-request input {
  width: 455px;
  height: 78.9px;
  margin-top: 29px;
  margin-left: 115px;
  padding: 20px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s1-request input {
  width: 542px;
  height: 88px;
  margin-top: 31px;
  margin-left: 115px;
  padding: 20px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s2-request input {
  width: 542px;
  height: 88px;
  margin-top: 31px;
  margin-left: 115px;
  padding: 20px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s3-request input {
  width: 542px;
  height: 88px;
  margin-top: 31px;
  margin-left: 115px;
  padding: 20px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s1-tab-request-btn {
  width: 455px;
  height: 78.9px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s1-request-btn {
  width: 455px;
  height: 78.9px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s2-request-btn {
  width: 455px;
  height: 78.9px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s3-request-btn {
  width: 455px;
  height: 78.9px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s1-tab-request input::-webkit-input-placeholder {
  font-family: Open Sans, light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.s1-request input::-webkit-input-placeholder {
  font-family: Open Sans, light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.s2-request input::-webkit-input-placeholder {
  font-family: Open Sans, light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.s3-request input::-webkit-input-placeholder {
  font-family: Open Sans, light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.s1-tab-call {
  width: 539.37px;
  height: 600px;
  
  background: linear-gradient(141.2deg, #DCBA93 7.81%, #71BD6F 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
  margin: auto;
}

.s1-tab-call h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.s1-phone h4{
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.s2-phone h4{
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.s3-phone h4{
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.s1-tab-call h3 {
  font-family: Open Sans, 0, ExtraBold;
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;

  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.s1-phone h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.s2-phone h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.s3-phone h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.s1-tab-call-img {
  background: url(../img/s1-tab-call-img.png) no-repeat center center;
  width: 85.22px;
  height: 85px;
  margin-top: 34px;
  margin-left: 226px;
}

.s1-footerTab {
  position: absolute;
  width: 768px;
  height: 228px;
  
  background: linear-gradient(94.61deg, #8BAD71 37.7%, #DAB890 95.8%) no-repeat center top / cover;
}

.s2-headerTab {
  background: url('../img/s2-headerTab.png') no-repeat center center / cover;
  color: #FFFFFF; 
  padding-top: 32px;
  width: 768px;
  height: 600px;
}

.s2-tab-offer-text1 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;

  color: #FFFFFF;
}

.s2-tab-offer-text2 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;

  color: #FFFFFF;
}

.tab-about-line2 {
  background: linear-gradient(90deg, rgba(46, 26, 125, 0.5) 0%, rgba(215, 209, 209, 0.5) 100%);
  border-radius: 25px;
}

.s2-tab-img {
  background: url(../img/s2-tab-img.png) no-repeat center center;
  width: 637px;
  height: 431px;
  margin-top: 54px;
  margin-left: 70px;
}

.s2-tab-img2 {
  background: url(../img/s2-tab-img2.png) no-repeat center center;
  width: 637px;
  height: 388px;
  margin-top: 42px;
  margin-left: 67px;
}

.s2-tab-img3 {
  background: url(../img/s2-tab-img3.png) no-repeat center center;
  width: 621.57px;
  height: 495px;
  margin-top: 30px;
  margin-left: 60px;
}

.s2-tab-img4 {
  background: url(../img/s2-tab-img4.png) no-repeat center center;
  width: 640px;
  height: 386px;
  margin-top: 40px;
  margin-left: 60px;
}

.s2-tab-img5 {
  background: url(../img/s2-tab-img5.png) no-repeat center center;
  width: 768px;
  height: 1184px;
  margin-top: 40px;
}

.s2-tab-download-btn {
  margin-top: 20px;
  margin-left: 20px;
}

.s2-tab-download-btn-img {
  background: url(../img/s2-tab-download-btn.png) no-repeat center center;
  width: 366px;
  height: 50.56px;   
  margin-left: 375px;
  margin-top: -30px;
}


.tab-text-block h6 {
  font-family: Futura PT, Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.06em;

  color: #000000;
}

.tab-text-block h3 {
  font-family: Futura PT, Medium;
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 32px;  
  letter-spacing: 0.06em; 

  color: #000000;
}

.s2-tab-download-btn h5 {
  font-family: Futura PT, bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.06em;
  display: flex;

  color: #2E1A7D;
}

.s2-tab-request {
  background: url(../img/s2-tab-request.png) no-repeat center center;
  width: 684.7px;
  height: 540.02px;
  margin: 40px;
}

.s2-tab-request h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;

  color: #FFFFFF;
}

.s2-tab-request h6 {
  font-family: Open Sans, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
}

.s2-tab-request input {
  width: 455px;
  height: 78.9px;
  margin-top: 29px;
  margin-left: 115px;
  padding: 20px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s2-tab-request-btn {
  width: 455px;
  height: 78.9px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s2-tab-request input::-webkit-input-placeholder {
  font-family: Open Sans, light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.s2-tab-call {
  width: 539.37px;
  height: 600px;
  
  background: linear-gradient(141.2deg, #BADCF4 7.81%, #4882AC 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
  margin: auto;
}

.s2-tab-call h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.s2-tab-call h3 {
  font-family: Open Sans, 0, ExtraBold;
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;

  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.s2-tab-call-img {
  background: url(../img/s1-tab-call-img.png) no-repeat center center;
  width: 85.22px;
  height: 85px;
  margin-top: 34px;
  margin-left: 226px;
}

.s2-footerTab {
  position: absolute;
  width: 768px;
  height: 228px;
  
  background: linear-gradient(93.89deg, #8DB6D3 0.79%, rgba(115, 164, 199, 0.65) 100%) no-repeat center top / cover;
}

.s3-headerTab {
  background: url('../img/s3-headerTab.png') no-repeat center top / cover;
  color: #FFFFFF; 
  padding-top: 32px;
  width: 768px;
  height: 600px;
}

.s3-tab-offer-text1 {
  font-family: Futura PT, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 58px;
  
  color: #FFFFFF;
}

.s3-tab-offer-text2 {
  font-family: Futura PT, Book;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;

  color: #FFFFFF;
}

.tab-about-line3 {
  background: linear-gradient(90deg, rgba(176, 128, 204, 0.5) 0%, rgba(215, 209, 209, 0.5) 100%); 
  border-radius: 25px;
}

.tab-about-line4 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(211, 206, 219, 0.6) 0%, rgba(215, 209, 209, 0.6) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.redTab {
  font-family: Futura PT, Bold, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;

  color: #E32020;
}

.s3-tab-img {
  background: url(../img/s3-tab-img.png) no-repeat center center;
  width: 683px;
  height: 417px;
  margin-top: 40px;
  margin-left: 50px;
}

.s3-tab-img2 {
  background: url(../img/s3-tab-img2.png) no-repeat center center;
  width: 687px;
  height: 381px;
  margin-top: 33px;
  margin-left: 48px;
}

.s3-tab-img3 {
  background: url(../img/s3-tab-img3.png) no-repeat center center;
  width: 695px;
  height: 398px;
  margin-top: 40px;
  margin-left: 46px;
}

.s3-tab-img4 {
  background: url(../img/s3-tab-img4.png) no-repeat center center;
  width: 695px;
  height: 398px;
  margin-top: 35px;
  margin-left: 46px;
}

.s3-tab-img5 {
  background: url(../img/s3-tab-img5.png) no-repeat center center;
  width: 768px;
  height: 1041px;
  margin-top: 40px;
}

.s3-tab-request {
  background: url(../img/s3-tab-request.png) no-repeat center center / cover;
  width: 684.7px;
  height: 540.02px;
  margin: 40px;
}

.s3-tab-request h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;

  color: #FFFFFF;
}

.s3-tab-request h6 {
  font-family: Open Sans, Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
}

.s3-tab-request input {
  width: 455px;
  height: 78.9px;
  margin-top: 29px;
  margin-left: 115px;
  padding: 20px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s3-tab-request-btn {
  width: 455px;
  height: 78.9px;

  background: rgba(167, 167, 167, 0.1);
  border: 1px solid #D7D1D1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
}

.s3-tab-request input::-webkit-input-placeholder {
  font-family: Open Sans, light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.s3-tab-call {
  width: 539.37px;
  height: 600px;
  
  background: linear-gradient(141.2deg, #E9AE81 20.83%, #C06E1D 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.12);
  margin: auto;
}

.s3-tab-call h4 {
  font-family: Open Sans, Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.s3-tab-call h3 {
  font-family: Open Sans, 0, ExtraBold;
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;

  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.s3-tab-call-img {
  background: url(../img/s1-tab-call-img.png) no-repeat center center;
  width: 85.22px;
  height: 85px;
  margin-top: 34px;
  margin-left: 226px;
}

.s3-footerTab {
  position: absolute;
  width: 768px;
  height: 228px;
  
  background: linear-gradient(94.01deg, #E1A778 0.63%, rgba(225, 167, 120, 0.7) 100%) no-repeat center top / cover;
}
